<div class=" content">

  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" title" style="color: orangered; font-weight: bold;">SẢN PHẨM</h4>
        </div>
        <div class=" card-body">

          <div class=" row" *ngIf="this.editData.id == null">
            <div class=" col-md-5 pr-md-1">
              <div class=" form-group">
                <label> Danh mục sản phẩm</label> <label style="color: #ec250d;"> *</label>
                <p-dropdown [options]="categories" (onChange)="onChangeCategory($event.value)"
                  [(ngModel)]="selectedCategory" optionLabel="label" optionValue="value"></p-dropdown><br />
              </div>
            </div>
          </div>
          <div class=" row" *ngIf="this.editData.id != null" [formGroup]="danhmucform">
            <div class=" col-md-5 pr-md-1">
              <div class=" form-group">
                <label> Danh mục sản phẩm</label> <label style="color: #ec250d;"> *</label>
                <p-dropdown [options]="categories" (onChange)="onChangeCategory($event.value)"
                  formControlName="danhmucspform"></p-dropdown><br />
              </div>
            </div>
          </div>
          <div class=" row">
            <div class=" col-md-6 pr-md-1">
              <div class=" form-group">
                <label> Tên sản phẩm </label> <label style="color: #ec250d;"> *</label>
                <input class=" form-control" placeholder="Name" type="text" [(ngModel)]="name" />
              </div>
            </div>
            <div class=" col-md-6 pr-md-1">
              <div class=" form-group">
                <label> Tóm tắt</label> <label style="color: #ec250d;"> *</label>
                <input class=" form-control" placeholder="Summary" [(ngModel)]="summary" type="text" />
              </div>
            </div>
          </div>
          <div class=" row">
            <div class=" col-md-6 pr-md-1">
              <div class=" form-group">
                <label> Đánh giá </label>
                <input class=" form-control" placeholder="Remarks" [(ngModel)]="remarks" type="text" />
              </div>
            </div>

            <div class=" col-md-6 pl-md-1">
              <div class=" form-group">
                <label> Bảo hành </label>
                <input class=" form-control" placeholder="Guarantee" [(ngModel)]="guarantee" type="email" />
              </div>
            </div>
          </div>


          <div class=" row">
            <div class=" col-md-4 pr-md-1">
              <div class=" form-group">
                <label> Giá </label>
                <input class=" form-control" placeholder="Price" [(ngModel)]="price" type="text" />
              </div>
            </div>
            <div class=" col-md-4 pr-md-1">
              <div class=" form-group">
                <label> Thứ tự </label>
                <input class=" form-control" placeholder="Thứ tự" [(ngModel)]="no" type="number" min="1" max="5" />
              </div>
            </div>
            <div class=" col-md-4 pr-md-1">
              <div class=" form-group">
                <label> Giá mới </label>
                <input class=" form-control" placeholder="Giá mới" [(ngModel)]="giamoi" type="text" />
              </div>
            </div>

          </div>
          <div class=" row">
            <div class=" col-md-4 pr-md-1">
              <div class=" form-group">
                <label> Video </label>
                <!-- <input class=" form-control" placeholder="Video" [(ngModel)]="video" type="text" /> -->
                <p-fileUpload customUpload="true" multiple="multiple" (uploadHandler)="onUploadVideo($event)"
                  accept="video/*" [showUploadButton]="true"></p-fileUpload>
                <ng-template pTemplate="content">
                  <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                  </ul>
                </ng-template>
                <div style="display: flex;" *ngIf="video != 'null'&& video != null && this.editData.id != null">
                  <label
                    style="margin-left: 50px; margin-right: 120px;margin-top: 20px; text-align: center;">{{videoPathName}}</label>
                  <button style="background-color: orangered;height: 35px; width: 35px; margin-top: 10px" pButton
                    type="button" icon="pi pi-trash" class="ui-button-danger" class="p-button-rounded p-button-text"
                    (click)="deleteVideo(videoPath)"></button>
                </div>
              </div>
            </div>


          </div>
          <div class=" row">
            <div class=" col-md-8 pr-md-1">
              <div class=" form-group">
                <label> Hình ảnh </label>
                <!-- <input class=" form-control" placeholder="Image" [(ngModel)]="image" type="text" /> -->

                <!-- <p-fileUpload name="myfile[]" customUpload="true" (uploadHandler)="onUpload($event)" multiple="multiple"
                  accept="image/*" maxFileSize="1000000">
                  <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length">
                      <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                    </ul>
                  </ng-template>
                </p-fileUpload> -->

                <p-fileUpload customUpload="true" multiple="multiple" (uploadHandler)="onUpload($event)"
                  accept="image/*" [showUploadButton]="true"></p-fileUpload>
                <ng-template pTemplate="content">
                  <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                  </ul>
                </ng-template>
                <div style="display: flex;" *ngIf="image1 != 'null'&& image1 != null && this.editData.id != null">
                  <img [src]="image1Path" style="height: 40px; width: 40px; margin-top: 10px;margin-left: 25px;">
                  <label
                    style="margin-left: 50px; margin-right: 120px;margin-top: 20px; text-align: center;">{{image1PathName}}</label>
                  <button style="background-color: orangered;height: 35px; width: 35px; margin-top: 10px" pButton
                    type="button" icon="pi pi-trash" class="ui-button-danger" class="p-button-rounded p-button-text"
                    (click)="deleteImage1(image1Path)"></button>
                </div>
                <div style="display: flex;" *ngIf="image2 != 'null' && image2 != null && this.editData.id != null">
                  <img [src]="image2Path" style="height: 40px; width: 40px; margin-top: 10px;margin-left: 25px;">
                  <label
                    style="margin-left: 50px; margin-right: 120px;margin-top: 20px; text-align: center;">{{image2PathName}}</label>
                  <button style="background-color: orangered;height: 35px; width: 35px; margin-top: 10px" pButton
                    type="button" icon="pi pi-trash" class="ui-button-danger" class="p-button-rounded p-button-text"
                    (click)="deleteImage2(image2Path)"></button>
                </div>
                <div style="display: flex;" *ngIf="image3 != 'null'&& image3 != null && this.editData.id != null">
                  <img [src]="image3Path" style="height: 40px; width: 40px; margin-top: 10px;margin-left: 25px;">
                  <label
                    style="margin-left: 50px; margin-right: 120px;margin-top: 20px; text-align: center;">{{image3PathName}}</label>
                  <button style="background-color: orangered;height: 35px; width: 35px; margin-top: 10px" pButton
                    type="button" icon="pi pi-trash" class="ui-button-danger" class="p-button-rounded p-button-text"
                    (click)="deleteImage3(image3Path)"></button>
                </div>
                <div style="display: flex;" *ngIf="image4 != 'null' && image4 != null && this.editData.id != null">
                  <img [src]="image4Path" style="height: 40px; width: 40px; margin-top: 10px;margin-left: 25px;">
                  <label
                    style="margin-left: 50px; margin-right: 120px;margin-top: 20px; text-align: center;">{{image4PathName}}</label>
                  <button style="background-color: orangered;height: 35px; width: 35px; margin-top: 10px" pButton
                    type="button" icon="pi pi-trash" class="ui-button-danger" class="p-button-rounded p-button-text"
                    (click)="deleteImage4(image4Path)"></button>
                </div>
                <div style="display: flex;" *ngIf="image5 != 'null' && image5 != null && this.editData.id != null">
                  <img [src]="image5Path" style="height: 40px; width: 40px; margin-top: 10px;margin-left: 25px;">
                  <label
                    style="margin-left: 50px; margin-right: 120px;margin-top: 20px; text-align: center;">{{image5PathName}}</label>
                  <button style="background-color: orangered;height: 35px; width: 35px; margin-top: 10px" pButton
                    type="button" icon="pi pi-trash" class="ui-button-danger" class="p-button-rounded p-button-text"
                    (click)="deleteImage5(image5Path)"></button>
                </div>
                <div style="display: flex;" *ngIf="image6 != 'null' && image6 != null && this.editData.id != null">
                  <img [src]="image6Path" style="height: 40px; width: 40px; margin-top: 10px;margin-left: 25px;">
                  <label
                    style="margin-left: 50px; margin-right: 120px;margin-top: 20px; text-align: center;">{{image6PathName}}</label>
                  <button style="background-color: orangered;height: 35px; width: 35px; margin-top: 10px" pButton
                    type="button" icon="pi pi-trash" class="ui-button-danger" class="p-button-rounded p-button-text"
                    (click)="deleteImage6(image6Path)"></button>
                </div>
                <div style="display: flex;" *ngIf="image7 != 'null' && image7 != null && this.editData.id != null">
                  <img [src]="image7Path" style="height: 40px; width: 40px; margin-top: 10px;margin-left: 25px;">
                  <label
                    style="margin-left: 50px; margin-right: 120px;margin-top: 20px; text-align: center;">{{image7PathName}}</label>
                  <button style="background-color: orangered;height: 35px; width: 35px; margin-top: 10px" pButton
                    type="button" icon="pi pi-trash" class="ui-button-danger" class="p-button-rounded p-button-text"
                    (click)="deleteImage7(image7Path)"></button>
                </div>
                <div style="display: flex;" *ngIf="image8 != 'null' && image8 != null && this.editData.id != null">
                  <img [src]="image8Path" style="height: 40px; width: 40px; margin-top: 10px;margin-left: 25px;">
                  <label
                    style="margin-left: 50px; margin-right: 120px;margin-top: 20px; text-align: center;">{{image8PathName}}</label>
                  <button style="background-color: orangered;height: 35px; width: 35px; margin-top: 10px" pButton
                    type="button" icon="pi pi-trash" class="ui-button-danger" class="p-button-rounded p-button-text"
                    (click)="deleteImage8(image8Path)"></button>
                </div>
                <div style="display: flex;" *ngIf="image9 != 'null' && image9 != null && this.editData.id != null">
                  <img [src]="image9Path" style="height: 40px; width: 40px; margin-top: 10px;margin-left: 25px;">
                  <label
                    style="margin-left: 50px; margin-right: 120px;margin-top: 20px; text-align: center;">{{image9PathName}}</label>
                  <button style="background-color: orangered;height: 35px; width: 35px; margin-top: 10px" pButton
                    type="button" icon="pi pi-trash" class="ui-button-danger" class="p-button-rounded p-button-text"
                    (click)="deleteImage9(image9Path)"></button>
                </div>
                <div style="display: flex;" *ngIf="image10 != 'null' && image10 != null && this.editData.id != null">
                  <img [src]="image10Path" style="height: 40px; width: 40px; margin-top: 10px;margin-left: 25px;">
                  <label
                    style="margin-left: 50px; margin-right: 120px;margin-top: 20px; text-align: center;">{{image10PathName}}</label>
                  <button style="background-color: orangered;height: 35px; width: 35px; margin-top: 10px" pButton
                    type="button" icon="pi pi-trash" class="ui-button-danger" class="p-button-rounded p-button-text"
                    (click)="deleteImage10(image10Path)"></button>
                </div>

              </div>
            </div>


          </div>

          <div class=" row">
            <div class=" col-md-12">
              <div class=" form-group">
                <label> Chi tiết sản phẩm </label>
                <textarea class=" form-control" cols="80" placeholder="Details" [(ngModel)]="details" rows="4">

</textarea>
              </div>
            </div>
          </div>

        </div>
        <div class=" card-footer" [hidden]="isDisable">
          <button class=" btn btn-fill btn-danger" type="submit" (click)="submit()" [hidden]="isDisable">Lưu</button>

          <button class=" btn " style="background:rgba(224, 46, 22, 0.6)" (click)="cancel()"
            [hidden]="isDisable">Hủy</button>
        </div>
      </div>
    </div>

  </div>

</div>